.nav{
    padding-top: 10px;
  grid-area: n;
  background-color: #D6CEF7;
}
.nav_item{
    display:block;
    color: black;
    padding: 10px;
}
.nav_item:hover{
    background-color:#A593E8;
}
.active{
    background-color:#A593E8;
}