form.count-filters {
    flex-wrap: wrap;
}

@media (max-width: 375px) {
    form.count-filters .count-filters__item label {
        font-size: 14px;
    }
    form.count-filters .count-filters__item {
        padding: 5px;
    }
}